<div class="uk-width-1-1">
  <p class="uk-text-large uk-text-center">
    Favor de colocar la información solicitada:
  </p>
  <form action="/" method="post" class="uk-form uk-form-stacked uk-text-left">
    <input type="hidden" name="4Tredir" value="http://www.gstatic.com/generate_204">
    <input type="hidden" name="magic" value="042b0b5df30e7fec">
    <div class="uk-container uk-container-center">
      <div>
        <label for="username" class="uk-form-label">
          ID / Usuario
        </label>
        <div class="uk-margin-bottom uk-width-1-1">
          <input name="username" id="ft_un" class="uk-width-1-1" placeholder="ID / Usuario"
            onkeyup="return forceLower(this);">
        </div>
      </div>
      <div>
        <label for="password" class="uk-form-label">
          Contraseña
        </label>
        <div class="uk-margin-bottom uk-width-1-1">
          <input name="password" id="ft_pd" type="password" autocomplete="off" class="uk-width-1-1"
            placeholder="Contraseña">
        </div>
      </div>
      <div class="uk-form-row uk-text-center">
        <div class="uk-form-controls">
          <button class="uk-button-danger uk-button-small" type="submit">
            Acceder
          </button>
        </div>
      </div>
    </div>
  </form>
</div>