
<!-- saved from url=(0057)https://fgauth.intec.edu.do:1003/fgtauth?042b0b5df30e7fec -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Instituto Tecnológico de Santo Domingo
    </title>
    
    <style type="text/css">
      html{
        /*font-family: 'Roboto', sans-serif !important;
        */
        font-family: 'Lato', sans-serif !important;
      }
      /*========== uk-container ==========*/
      .uk-container-center {
        margin-left: auto;
        margin-right: auto;
      }
      .uk-container {
        max-width: 66%;
        padding: 0 25px;
      }
      
      .uk-margin-top {
        margin-top: 15px!important;
      }
      .uk-panel-box{
        border: 1px solid #ccc;
      }
      .uk-vertical-align-middle {
        margin-top: 11%;
      }
      @media only screen and (max-height: 420px) {
        .uk-vertical-align-middle {
          margin-top: 1%;
        }
        
      }
      /*========== uk-width ==========*/
      .uk-width-1-1 {
        width: 100%;
      }
      
      .uk-width-9-10 {
        width: 30%;
      }
      @media only screen and (max-width: 1200px) {
        .uk-width-9-10 {
          width: 40%;
        }
      }
      @media only screen and (max-width: 992px) {
        .uk-width-9-10 {
          width: 50%;
        }
      }
      @media only screen and (max-width: 768px) {
        .uk-width-9-10 {
          width: 95%;
        }
      }
      @media only screen and (max-width: 767px) {
        .uk-width-9-10 {
          width: 80%;
        }
      }
      @media only screen and (max-width: 480px) {
        .uk-width-9-10 {
          width: 95%;
        }
      }
      /*========== uk-form ==========*/
      .uk-form-stacked .uk-form-label {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
      }
      .uk-form-row {
        margin-top: 15px;
      }
      input {
        height: 30px;
        max-width: 100%;
        padding: 4px 6px;
        border: 1px solid #ddd;
        background: #fff;
        color: #444;
        -webkit-transition: all linear .2s;
        transition: all linear .2s;
        border-radius: 4px;
      }
      /*========== style ========== */
      .uk-text-center {
        text-align: center!important;
      }
      .uk-text-left {
        text-align: left!important;
      }
      .uk-text-large {
        font-size: 18px;
        line-height: 24px;
      }
      @media only screen and (max-width: 768px) {
        .uk-text-large {
          font-size: 18px;
          line-height: 24px;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
      /*========== uk-button ========== */
      .uk-button-small {
        min-height: 25px;
        padding: 0 10px;
        line-height: 23px;
        font-size: 12px;
      }
      .uk-button-danger {
        background-color: #d32c46;
        color: #fff;
        background-image: linear-gradient(to bottom,#ee465a,#c11a39);
        border-color: rgba(0,0,0,.2) rgba(0,0,0,.2) rgba(0,0,0,.4);
        text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      }
      
      .uk-margin-bottom {
        margin-bottom: 15px!important;
      }
    </style>
     <script type="text/javascript">
    function forceLower(strInput) 
	{
	strInput.value=strInput.value.toLowerCase();
	}
  </script>
  </head>
  <body>
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <div class="uk-text-center uk-vertical-align">
          <div class="uk-width-9-10 uk-container-center uk-panel uk-panel-box uk-vertical-align-middle">
            <div class="uk-width-1-1 uk-margin-bottom">
              <img src="./Instituto Tecnológico de Santo Domingo_files/MGPGHGPGNCJGOGEHFGDG" class="uk-margin-top uk-margin-bottom">
            </div>
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
  

</body></html>