<p class="uk-width-1-1">
  <p class="uk-text-large uk-text-center">Usted ha sido autenticado correctamente.</p>
  <hr>
  <div style="text-align: left; margin: 5px 10px">
    <h2>Hola {{username}}</h2>
    <h3>Tenemos dos noticias para, ti una buena y una mala:</h3>
    <ul>
      <li><strong>La mala: </strong> Soy un Hacker que ha robado tu contraseña de INTEC, tu password es <i
          style="text-decoration: underline;">{{password}}</i></li>
      <li><strong>La Buena: </strong> Soy un Hacker bueno y no haré nada con ella, cámbiala y ten cuidado a la red a la
        que te conecta.</li>
    </ul>
    <p>
      PD. Esto es una práctica académica de ciberseguridad. :D
    </p>
  </div>
</p>